<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primera practica VUE</title>
    <style>
        body {
            background-color: rgb(221, 161, 133);
        }

        table.customTable {
            width: 100%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 2px;
            border-color: #ff5100;
            border-style: solid;
            color: #000000;
        }

        table.customTable td,
        table.customTable th {
            border-width: 2px;
            border-color: #000000;
            border-style: solid;
            padding: 5px;
        }

        table.customTable thead {
            background-color: #ff5100;
        }
    </style>
</head>

<body>
    <div class="container" id="container_app">

        <form v-if="!is_Login">
            <fieldset>
                <legend>
                    Email
                </legend>
                <input type="email" v-model="email" name="">
            </fieldset>

            <fieldset>
                <legend>
                    Contraseña
                </legend>
                <input v-model="password" placeholder="Contraseña" type="password" name="">
                <br>
            </fieldset>
            <br>
            <button type="button" @click="login">
                Logearse
            </button>
        </form>

        <div v-if="is_Login">
            <table class="customTable">
                <thead>
                    <tr>
                        <th>Datos personales</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="u in users">
                        <td> {{u.name}} {{u.lastname}} </td>
                        <td> {{u.email}} </td>
                        <td> {{u.phone}} </td>
                        <td>
                            <button @click="edit(u)"> Editar </button>
                            <button @click="remove(u.id)"> Eliminar </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <button @click="action = 'add'">
                Agregar usuario
            </button>


            <div class="rendered-form" v-if="action == 'add'">
                <div class="">
                    <h1 access="false"> Add new user in list &nbsp;</h1>
                </div>
                <div>
                    <label for="text-"> Nombre Completo </label>
                    <input v-model="new_user.name" type="text">
                </div>
                <div>
                    <label for="text-"> Email </label>
                    <input v-model="new_user.email" type="text">
                </div>
                <div>
                    <label for="text-"> Telefono </label>
                    <input v-model="new_user.phone" type="text">
                </div>
                <div>
                    <button type="submit" @click="save('create')"> Save user data </button>
                </div>
            </div>

            <div class="rendered-form" v-if="action == 'edit'">
                <div class="">
                    <h1 access="false"> Editar Usuario </h1>
                </div>
                <div>
                    <label for="text-"> Nombre Completo </label>
                    <input v-model="new_user.name" type="text">
                </div>
                <div>
                    <label for="text-"> Email </label>
                    <input v-model="new_user.email" type="text">
                </div>
                <div>
                    <label for="text-"> Telefono </label>
                    <input v-model="new_user.phone" type="text">
                </div>
                <input type="hidden" v-model="new_user.id">
                <div>
                    <button type="submit" @click="save('update')"> Save user data </button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
        const { createApp, ref } = Vue

        createApp({
            setup() {
                users = ref([]);
                action = ref('');
                email = ref('fabianramirez2810@gmail.com');
                password = ref('123456');
                new_user = ref([]);


                let temp = localStorage.getItem("is_Login");
                if (temp == null) {
                    temp = false;
                }
                is_Login = ref(temp);

                return {
                    users,
                    email,
                    password,
                    is_Login,
                    action,
                    new_user
                }
            },
            mounted: function () {
                if (this.is_Login) {
                    this.getUsers();
                }

            },
            methods: {
                async getUsers() {
                    const response = await fetch("user.json?v=1.1");
                    const tmp_users = await response.json();
                    this.users = tmp_users;

                },
                async login() {
                    const response = await fetch("user.json?v=1");
                    const users = await response.json();
                    this.is_Login = false;

                    users.forEach((user) => {
                        if (this.email == user.email) {
                            if (this.password == user.password) {
                                this.is_Login = true;
                                alert("Buenas buenas");

                                localStorage.setItem("user_data", JSON.stringify(user));
                                localStorage.setItem("is_Login", "true");
                                this.getUsers();
                            }
                        }
                    });
                    if (!this.is_Login) {
                        alert("Verifique su informacion");
                    }

                },
                edit(target) {
                    this.action = 'edit';
                    this.new_user.name = target.name;
                    this.new_user.email = target.email;
                    this.new_user.phone = target.phone;
                    this.new_user.id = target.id;
                },
                save(action) {
                    if (action == 'create') {

                        this.new_user.id = microtime = (Date.now() % 1000) / 1000;

                        this.users.push(this.new_user);
                        this.new_user = [];

                        alert("Registro añadido correctamente");
                    }

                    if (action == 'update') {
                        this.users.forEach((user) => {
                            if (user.id == this.new_user.id) {
                                user.name = this.new_user.name;
                                user.email = this.new_user.email;
                                user.phone = this.new_user.phone;
                                alert("Registro actualizado correctamente");
                            }
                        })
                    }
                    this.action = '';
                },
                remove(id) {
                    console.log(id);
                    let c = 0;
                    let i = 0;

                    this.users.forEach((user) => {
                        if (user.id == id) {
                            console.log(user.id);
                            i = c;
                        }
                        c++;
                    })

                    console.log(i);
                    this.users.splice(i, 1);
                }
            }
        }).mount('#container_app')
    </script>
</body>

</html>